tests/integration/src/test/resources/operation-with-config-module-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <module name="mule-utils">
        <property parameterName="configParam"/>
        <property parameterName="defaultConfigParam" defaultValue="'some default-config-value-parameter'"/>

        <operation name="set-payload-hardcoded-value">
            <body>
                <set-payload value="hardcoded value from module"/>
            </body>
        </operation>

        <operation name="set-payload-param-value">
            <parameters>
                <parameter parameterName="value"/>
            </parameters>
            <body>
                <set-payload value="#[param.value + ' from module']"/>
            </body>
        </operation>

        <operation name="set-payload-config-param-value">
            <body>
                <set-payload value="#[property.configParam]"/>
            </body>
        </operation>

        <operation name="set-payload-config-default-param-value">
            <body>
                <set-payload value="#[property.defaultConfigParam]"/>
            </body>
        </operation>

        <operation name="set-payload-add-param-and-property-values">
            <parameters>
                <parameter parameterName="value1"/>
            </parameters>
            <body>
                <set-payload value="#[param.value1 + ' ' + property.configParam]"/>
            </body>
        </operation>
    </module>

    <!-- Flows definitions and config-ref below -->

    <config-ref module="mule-utils" name="instantiatedConfig" >
        <parameter-ref parameterName="configParam" value="'some config-value-parameter'"/>
    </config-ref>

    <flow name="testSetPayloadHardcodedFromModuleFlow">
        <operation-ref module="mule-utils" operation="set-payload-hardcoded-value" config="instantiatedConfig"/>
    </flow>

    <flow name="testSetPayloadParamFromModuleFlow">
        <operation-ref module="mule-utils" operation="set-payload-param-value" config="instantiatedConfig">
            <parameter-ref parameterName="value" value="'new payload'"/>
        </operation-ref>
    </flow>

    <flow name="testSetPayloadConfigParamFlow">
        <operation-ref module="mule-utils" operation="set-payload-config-param-value" config="instantiatedConfig"/>
    </flow>

    <flow name="testSetPayloadConfigDefaultParamFlow">
        <operation-ref module="mule-utils" operation="set-payload-config-default-param-value" config="instantiatedConfig" />
    </flow>

    <flow name="testSetPayloadAddParamAndPropertyValues">
        <operation-ref module="mule-utils" operation="set-payload-add-param-and-property-values" config="instantiatedConfig">
            <parameter-ref parameterName="value1" value="'a parameter value'"/>
        </operation-ref>
    </flow>
</mule>
