tests/integration/src/test/resources/operation-with-config-global-elements-module-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd">

    <!-- TODO WIP-OPERATIONS replace the httpbin server for a local one -->
    <module name="basic-auth">
        <property parameterName="someUserConfig" defaultValue="some-username"/>
        <property parameterName="somePassConfig" defaultValue="some-password"/>

        <httpn:request-config name="simple-config" basePath="/basic-auth">
            <httpn:request-connection host="httpbin.org" protocol="HTTP" port="80"/>
            <httpn:authentication>
                <httpn:basic-authentication username="#[property.someUserConfig]" password="#[property.somePassConfig]"/>
            </httpn:authentication>
        </httpn:request-config>

        <operation name="do-login">
            <parameters>
                <parameter parameterName="someUser" defaultValue="usernameX"/>
                <parameter parameterName="somePass" defaultValue="passwordX"/>
            </parameters>
            <body>
                <httpn:request path="/{aUser}/{aPass}" key="ANY" config-ref="simple-config" method="GET">
                    <httpn:request-builder>
                            <httpn:uri-params>
                                <httpn:uri-param key="aUser" value="#[param.someUser]"/>
                                <httpn:uri-param key="aPass" value="#[param.somePass]"/>
                            </httpn:uri-params>
                    </httpn:request-builder>
                </httpn:request>
                <set-payload value="#['success with basic-authentication for user: ' + param.someUser]"/>
            </body>
        </operation>
    </module>

    <!-- Flows definitions and config-ref below -->

    <config-ref module="basic-auth" name="la-plata-config" >
        <parameter-ref parameterName="someUserConfig" value="'userLP'"/>
        <parameter-ref parameterName="somePassConfig" value="'passLP'"/>
    </config-ref>

    <config-ref module="basic-auth" name="gonnet-config" >
        <parameter-ref parameterName="someUserConfig" value="'userGonnet'"/>
        <parameter-ref parameterName="somePassConfig" value="'passGonnet'"/>
    </config-ref>

    <flow name="testHttpDoLogin">
        <operation-ref module="basic-auth" operation="do-login" config="la-plata-config">
            <parameter-ref parameterName="someUser" value="'userLP'"/>
            <parameter-ref parameterName="somePass" value="'passLP'"/>
        </operation-ref>
    </flow>

    <flow name="testHttpDontLogin">
        <operation-ref module="basic-auth" operation="do-login" config="la-plata-config">
            <parameter-ref parameterName="someUser" value="'userGonnet'"/>
            <parameter-ref parameterName="somePass" value="'passGonnet'"/>
        </operation-ref>
    </flow>

    <flow name="testHttpDoLoginGonnet">
        <operation-ref module="basic-auth" operation="do-login" config="gonnet-config">
            <parameter-ref parameterName="someUser" value="'userGonnet'"/>
            <parameter-ref parameterName="somePass" value="'passGonnet'"/>
        </operation-ref>
    </flow>
</mule>
